build/CMakeFiles
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/src/CMakeFiles
build/src/client
build/src/proxy
build/src/server
build/src/Makefile
build/src/cmake_install.cmake
extern/cmake
extern/libressl
extern/libressl_install
certificates/*.pem
certificates/*.key
certificates/*.crt
certificates/intermediate
certificates/root
CS165-TLSCache

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

